body{
	font-family: "Inter";
	margin:70px 150px;
}

.header{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	
}

a.navigation__link{
	
	color:#504f52;
	text-decoration:none;
	padding:15px;
	
}

.order{
	display:flex;
	flex-direction:row;
	margin-top:30px;
	margin-bottom:40px;
}

.bold{
	display:flex;
	flex-direction:row;
}

.big{
	font-weight:bolder;
	font-size:50px;
	padding:1px;
	width:100%;
	margin-top:15px;
}

.para{
	width:75%;
	line-height:25px;
	font-size:17px;
	margin-left:70px;
	margin-top: 20px;
	color:hsl(236, 13%, 42%);
}

.sidebar{
	background-color:hsl(240, 100%, 5%);
	padding-left:25px;
	margin-bottom:40px;
}

.side{
	border-bottom:1.5px solid hsl(236, 13%, 42%);
	margin-top:40px;
	margin-bottom:40px;
}

.pa{
	color:rgba(255, 255, 255, 0.591);
}

.font{
	margin-right:100px;
	color:white;
	font-stretch: ultra-condensed;

}

.font h1{
	color:hsl(35, 77%, 62%);
	font-size: 38px;
	margin-right:150px;
}

h2{
	font-size:18px;
	
}



button{
	background-color: hsl(5, 85%, 63%);
	color:hsl(36, 100%, 99%);
	letter-spacing: 4px;
	font-weight:bold;
	font-size:15px;
	border-color: transparent;
	text-transform: uppercase;
	margin-left:70px;
	margin-top:20px;
	padding:17px 45px;

}

.down{
	display:flex;
}

.pdown{
	display:flex;
}

.g{
	color:rgb(206, 203, 203);
	font-size: 30px;
	margin-top:0;
	margin-left:30px;
}

.b{
	margin-left:30px;
	font-weight:bold;
	margin-top:0;
	margin-bottom:5px;

}

.paraa{
	color:grey;
	margin-left:30px;
	margin-right:40px;
	margin-top:0;
	line-height: 25px;
}

